* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5 ;
}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008080;
    height: 120px;
    width: 100%; 
}

.nav-title {
    font-size: 2rem;
    color: #ffffe0;
    font-weight: 600;
    margin-right: 20px;
}

.nav-dropdown {
    margin-left: 50px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.nav-dropdown-label {
    font-size: 0.85rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

.nav-dropdown select {
    margin-top: 5px;
    font-size: 0.85rem; 
    padding: 2px;
    border-radius: 5px;
}
.nav-dropdown select option {
    font-size: 0.85rem;
}

.nav-radio-field {
    border: none;
    margin-left: 10px;
}
.nav-radio-input {
    cursor: pointer;
}

.nav-radio-label {
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.btn-warning-container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    margin-left: 20px;
    margin-right: 20px;
    background: #f5f5dc;
    border-radius: 10px;
    border: none;
    width: 90px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-btn:active {
    background-color: #e0e0d1;
    box-shadow: 0 2px #c0c0b8;
    transform: translateY(1px);
}

.nav-btn:focus {
    outline: none;
}

.nav-warning {
    margin: none;
    padding: none;
    color: #ffffe0;
    font-size: 0.9rem;
}

.slidecontainer {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
}

.delayTimeText, .volumeText {
    margin-top: 10px;
    font-weight: 600;
    font-size: 0.8rem;
}

.delayTimeText {
    margin-bottom: 20px;
}

main {
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 0.5px solid rgb(176, 175, 175);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* modified using example from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.navSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .navSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .navSlider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }